body {
  background-color: white;
  color: black;
  font-family: Arial;
  text-align: start;
  z-index: 0;
}

/* 
::-webkit-scrollbar {
  width: 20px;
  position: relative;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: var(--accent); 
  border-radius: 10px;
  transition: background .5s;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-bright);
}*/
